*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body{
    font-family: 'Anton', sans-serif;
    color: #000000;
    background-image: linear-gradient(to top, #603e70, #63467c, #654e88, #665795, #6660a1, #6271b1, #5f82c0, #5c92cc, #63adda, #78c7e3, #97dfec, #bcf7f6);
    background-attachment: fixed;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.header{
    text-decoration: none;
    font-size: 1.5rem;  
}

.navcolor {
    background-color: #000000;
}

.navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus {
    color: rgb(255, 255, 255);
}    

.card {
    background-color: rgb(255, 255, 255);
}

.card img {
    width: 100%;
    height: 240px;
}

.imagen {
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
}

h2 {
    color: rgb(0, 0, 0);
}

h3{
    color: rgb(0, 0, 0);

}

h1 {
    font-size: 5rem;
}

a img {
    width: 100%;
}

.parrafo{
    text-align: left;
    font-size: 1.5rem;
    padding: 10px;
}

.btn-outline-light {
    color: rgba(255, 255, 255, 0.55);
    border-color: rgba(255, 255, 255, 0.55);
}

.text-white-55 {
   color:  rgba(255, 255, 255, 0.55);
}

h5 {
    text-decoration: underline;
    font-size: 2rem;
}

.alincenter{
    text-align: center;
 }

.img-holder {
    overflow: hidden;
 }

.img-holder img {
    transition: all 1.5s ease;
 }

.img-holder:hover img {
    transform: scale(1.5);
 }

.thumb{
    margin-bottom: 30px;
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
}

.galeria {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
